.Rproj.user
.Rhistory
.RData
.Ruserdata
data/G-1260_T.xlsx
data/G-1260_T.csv
time_series/.ipynb_checkpoints/data_cleaning-checkpoint.ipynb
.ipynb_checkpoints/web_scraping_initial-checkpoint.ipynb
_windows/applicationLibraries.xml
_windows/applicationLibraries.xml
_windows/git.xml
_windows/laf.xml
codestyles/Default.xml
colors.scheme.xml
_windows/applicationLibraries.xml
_windows/git.xml
_windows/laf.xml
codestyles/Default.xml
colors.scheme.xml
debugger.xml
editor.codeinsight.xml
editor.xml
filetypes.xml