.Rproj.user
.Rhistory
.RData
.Ruserdata
data/G-1260_T.xlsx
data/G-1260_T.csv
time_series/.ipynb_checkpoints/data_cleaning-checkpoint.ipynb
time_series/Homework I Report.docx
time_series/Well G-1260 - Blue Team 11- Report I.pdf
time_series/Homework I Report.docx
